# Go build artifacts
bin/
build/
dist/

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# Env files
.env
.env.*

# IDE/editor configs
.vscode/
.idea/
*.swp

# Logs
*.log

# GitHub templates
.github/


note.md